

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link href="img/favicon.png" rel="shortcuticon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>VishKart</title>
    <style>
      nav{
        background-color: white;
      }
      .one-edge-shadow {
                box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
  }
  .display-8{
    font-weight: 200;
    font-size: 30px;
  }
    </style>
  </head>
  <body>
    {% load custom_filter %}
<!---Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">VishKart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/about"><i class="fa fa-address-book-o" style="font-size:16px"></i> About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact"><i class="fa fa-fw fa-envelope"></i> Contact Us<span class="sr-only">(current)</span></a>
          </li>

          <form class="form-inline my-2 my-lg-0 mx-auto d-flex px-4" action="/search" method="GET">
          
            <input name="keyword" id="product" class="form-control " type="text" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-danger my-2 mx-1 my-sm-0" type="submit"><i class="fa fa-fw fa-search"></i></button>
            </form>

          <!-- <form action="/search/" method="GET">
          
          <select name="catid" class="input search-categories">
            <option value="0">All Categories</option>
            <option value="1">Men</option>
            <option value="1">Women</option>
            <option value="1">Vegitable</option>
            <option value="1">Watch</option>
          </select>
        <input name="keyword" type="text" placeholder="Enter your keyword">
        
        <button class="search-btn"><i class="fa fa-search"></i></button>
      </form> -->
        
      </ul>
      
      <ul class="navbar-nav my-2 my-lg-0">
        {% if request.session.customer %}
        <!-- <li class="nav-item active" method="GET">
          <a class="nav-link" href="#">{{request.session.email}} <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item active" >
          <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart" style="font-size:18px;color:cadetblue"></i>  Cart 
            <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/orders"><i class="fa fa-truck" style="font-size:18px;color:white"></i> Orders<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout"><i class="fa fa-lock" style="font-size:16px"></i> Logout<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/signup"><i class="fa fa-fw fa-user"></i>  Signup<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="/login"><i class="fa fa-unlock" style="font-size:16px"></i> Login<span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
         

      </ul>
    </div>
  </nav>


<!--                    N  a  v  b  a  r  2            -->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white">{{request.session.email}}</a>
      </li>
    </ul>
      {% if request.session.customer %}
      
      {% endif %}
    <div class="collapse navbar-collapse mx-auto d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto d-flex px-4">
        <li class="nav-item active  ">
          <a href="/" class=" px-2 text-white">All Products</a>
        </li>
        <ul class="list-group list-group-horizontal">
          <!-- {% for category in categories %} -->
          <a href="/?category={{category.id}}" class=" px-2 text-white">{{category.name}}</a>
          <!-- {% endfor %} -->
        </ul>
      </ul>
    </div>
  </nav>

  <!-- <div class="col-lg-12 mx-auto">
    <div class="list-group">

      <a href="/" class="list-group-item list-group-item-action">All Products</a>

      {% for category in categories %}
      <a href="/?category={{category.id}}"
        class="list-group-item list-group-item-action">{{category.name}}</a>
      {% endfor %}
    </div>
  </div> -->
<!---Endnavbar-->

{% block content %}{% endblock %}


 

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
          
      $( "#product" ).autocomplete({
        source: "{% url 'autocomplete' %}",
      });
      });
    </script>
  </body>

</html>
